a{
  text-decoration: none;
  display: inline-block;
  color: gray;
}
#Home{
  height: 100vh;
  background-position: center;
  margin-bottom: 0;
}

.heroText{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.bgServices{
  background-color: aliceblue;
  margin-top: -55px;
}

#Services{
  background-color: #f8f9fa;
}

.hoverCard {

  transition: transform 0.3s ease;
}

.hoverCard:hover {
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);

  transform: translateY(-3px);
  cursor: pointer;
}



.imgHover img {

  transition: transform 0.3s ease, filter 0.3s ease;
}

.imgHover:hover img {

  transform: scale(1.05);
 
  filter: brightness(80%);
}


#reviews{
  background-color: #fab95b;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

.carousel-caption {
  position: static !important;
}

#carouselExampleDark .carousel-indicators > button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


#Contact{
  background-color: #fab95b;
  height: 150vh;
  display: flex;
  justify-content: center;
}
.formInput{
  border: none;
  outline: none;
  background-color: #fab95b;
  border-bottom: 2px solid white;
  color: #f8f9fa;
  width: 100%;
  margin-top: 50px;
}


input[type="text"]::placeholder {
  color: white; 
}

.formInput-last{
  padding-bottom: 200px;
  border: none;
  outline: none;
  background-color: #fab95b;
  border-bottom: 2px solid white;
  color: #f8f9fa;
  width: 100%;
  margin-top: 50px;
}

.scrollTop {
  position: fixed;
  right: 30px;
  bottom: 40px;
}

.grey{
  color: gray;
  text-decoration: none;
}